@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.parallx1 {
  background-image: url('./assets/p1.jpg');
  position: relative;
  padding: 80px 0;
  background: linear-gradient((0, 0, 0.5), (0, 0, 0.5));
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 450px;
}

.parallx2 {
  background-image: url('./assets//p2.jpg');
  position: relative;
  padding: 80px 0;
  background: linear-gradient((0, 0, 0.5), (0, 0, 0.5));
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 450px;
}




.blink{
  color:#e30707 !important; 
  animation: animate 1s linear infinite; 
 
}

@keyframes animate{ 
  0%{ 
    opacity: 0; 
  } 
  50%{ 
    opacity: 0.7; 
  } 
  100%{ 
    opacity: 0; 
  } 
} 

.appimg{
  background-image: url('./assets//appoint.jpg');
  height: 300px;
  width: auto;
  /* filter: brightness(80%); */
  
}



/* .appoint{
  background-image: url('https://t3.ftcdn.net/jpg/04/96/80/34/360_F_496803433_TeCu85tBSH36XkKklQ4Eu6Zc5EbZQgs5.jpg');
  height: 400px;
  width: 100%;
  background-size: cover;
} */
